<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="hospital_patient_menu_root"
              name="Hospital"
              sequence="0"/>

    <menuitem id="patient_Details_menu_master"
              name="Patient Details"
              parent="hospital_patient_menu_root"
              sequence="0"/>

</odoo>